
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|FontAwesome');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~datatables.net-dt/css/jquery.dataTables.min.css';

@import 'main';
@import 'color_skins';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card + .card,
.row + .row {
    margin-top: 1em;
}
